main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#53c794 ;
}

.card{
    width: 30%;
    height: 70%;
    background-color: #fff;
    border-radius: 4px;
}

.card h1{
    font-size: 32px;
    text-align: center;
    color: #414141;
    margin-top: 64px;
    margin-bottom: 32px;
}

.card input{
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 16px auto 0px;
    padding-left: 8px;
}

.card button{
    display: block;
    background-color: #53c794;
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    text-align: center;
    margin: 16px auto 0px;
    color: #fff;
    font-weight: bold;
}

.card a{
    display: block;
    width: 80%;
    margin: 8px auto 0px;
    font-size: 14px;
}