main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.painel-login{
    display: flex;
    justify-content: center;    
    width: 50%;
    height: 100%;
    background-color: #ffff;
}

.card{
    width: 50%;
}

.card h1{
    text-align: center;
    margin-bottom: 32px;
    color:#53c794
}

.card input{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 8px;
}

.card button{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    background-color: #53c794;
    color: #ffff;
    border: 0;
    border-radius: 4px;
   
}

.card a {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

.painel-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #53c794;
}

.painel-imagem img{
    width: 80%;
}


