<nav>
    <label class="logo align-text-bottom" >Full Stack Eletro</label>
    <nav class="list-group  ">           
        <a class="list-group-item text-white subnav " target="blank" href= "index.php">Home</a>
        <a class="list-group-item text-white subnav" target="blank" href= "produtos.php">Produtos</a>
        <a class="list-group-item text-white subnav" target="blank" href= "loja.php">Loja</a> 
        <a class="list-group-item text-white subnav" target="blank" href= "indexVendedores.php">Vendedores</a>    
    </nav>
</nav>